.fondoBarra{
    width: 100%;
    height: 90px;
    margin-top: 5px;
    background-color: aquamarine;
}
.barra{
    width: 90%;
    height: 40px;
    background-color: palegreen;
    padding: 4px;
}
.men li{
    display: inline;
    background-color: cyan;
    margin: 3px;
}
.men li:hover{
    background-color: thistle;
}